{% extends "template.html" %}

{% block left_panel %}
    {% for sample in sample_list %}
        <div class="bg-blue-100 p-4 rounded-lg">
            <img src="{{sample.image_path}}" >
            <p class="text-sm font-medium">File: {{sample.name}}</p>
            <p class="text-sm">Type: {{sample.file_type}}</p>
        </div>
    {% endfor %}

    {{ super() }}
{% endblock %}

{% block middle_panel %}
    {{page_fig | safe}}
{% endblock %}

{% block right_panel %}
<h2 class="font-semibold mb-4">Set step name</h2>
                <div class="space-y-2 bg-white p-1 rounded-lg mb-1">
                    <form method="POST" enctype="multipart/form-data">
                        <table>
                            <thead>
                              <tr>
                                <th>Index</th>
                                <th>Color</th>
                                <th>Lane Name</th>
                                <th>Group</th>
                                <th>Subgroup</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for lane_data in lane_list %}
                                    <tr>
                                        <td> <p>{{lane_data.index}}</p></td>
                                        <td><input id="color_{{lane_data.index}}" name="color" type="color" name="favorite_color" value="{{lane_data.color}}"></td>
                                        <td><input id="lane_{{lane_data.index}}" name="lane_name" type="text" value="{{lane_data.name}}" class="border rounded px-2 py-1 w-full"></td>
                                        <td><input id="lane_{{lane_data.group}}" name="lane_group" type="text" value="{{lane_data.group}}" class="border rounded px-2 py-1 w-full"></td>
                                        <td><input id="lane_{{lane_data.subgroup}}" name="lane_subgroup" type="text" value="{{lane_data.subgroup}}" class="border rounded px-2 py-1 w-full"></td>
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="mt-6 text-right">
                            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">Next</button>
                        </div>
                    </form>
                </div>
{% endblock %}