{% extends "template.html" %}

{% block left_panel %}
    {% for sample in sample_list %}
        <div class="bg-blue-100 p-4 rounded-lg">
            <img src="{{sample.image_path}}" >
            <p class="text-sm font-medium">File: {{sample.name}}</p>
            <p class="text-sm">Type: {{sample.file_type}}</p>
        </div>
    {% endfor %}

    {{ super() }}
{% endblock %}

{% block middle_panel %}
    {{page_fig | safe}}
    <form method="POST" enctype="multipart/form-data">
        <div class="grid grid-cols-6 gap-6">
            <!-- Left Panel -->
            <div class="col-span-3 space-y-4">
                <p>width</p>
                <input type="range" id="width-slider" name="width-slider" min="40" max="60" value="{{lane_width}}" step="1">
            </div>
            
            <div class="col-span-3 space-y-4">
                <p>margin</p>
                <input type="range" id="margin-slider" name="margin-slider" min="0" max="0.5" value="{{margin}}" step="0.05">
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out">Reload</button>
    </form>
{% endblock %}

{% block right_panel %}
{% endblock %}