{% extends "template4akta.html" %}


{% block right_panel %}
<div class="flex space-x-4">  <!-- Tailwind CSSの場合。他のCSSフレームワークや独自CSSでも同様のレイアウトを記述 -->
    <form method="GET" action="/experiment/{{info.experiment}}/{{info.data_type}}/{{info.name}}/phase">
      <button type="submit" class="text-white p-4 rounded-lg bg-[#1f3a61]">Phase</button>
    </form>
    <form method="GET" action="/experiment/{{info.experiment}}/{{info.data_type}}/{{info.name}}/pool">
      <button type="submit" class="text-white p-4 rounded-lg bg-[#2d6a8b]">Pool</button>
    </form>
    <form method="GET" action="/experiment/{{info.experiment}}/{{info.data_type}}/{{info.name}}/fraction">
      <button type="submit" class="text-white p-4 rounded-lg bg-[#3f9dcf]">Fraction</button>
    </form>
  </div>


{% endblock %}
