{% extends "template.html" %}

{% block script_code %}
{% endblock %}

{% block left_panel %}
    {% for sample in sample_list %}
    <form method="GET" action="/experiment/{{sample.experiment}}/{{sample.data_type}}/{{sample.name}}/show">
        <button type="submit" class="bg-blue-100 p-4 rounded-lg">
            <img src="{{url_for('static', filename=sample.icon)}}" >
            <p class="text-sm font-medium">File: {{sample.name}}</p>
            <p class="text-sm">Type: {{sample.data_type}}</p>
        </button>
    </form>
    {% endfor %}

    <form method="POST" action="/experiment/{{experiment_name}}/upload" enctype="multipart/form-data">
        <input type="file" if="file" name="file" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-300">
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-300">Add files</button>
    </form>
{% endblock %}


{% block middle_panel %}
{% endblock %}


{% block right_panel %}
{% endblock %}